<ui-view  class="fullbodied">
  <h3>Tracking Now...</h3>
  <div class="row">
    <div class="col">
      Points collected: {{ pointsCount }}
    </div>
  </div>

  Last location: {{ lastPoint | json }}

  <div ng-hide="watch != null">
    <button ng-click="endTracking()" class="button button-block button-cancel">End Tracking</button>
  </div>

  <!--<IFRAME  ng-src="http://32ec9b2e.ngrok.io/?id=NotBob" class="fullbodied" > If you can see this, your browser doesn't understand IFRAMES.  </IFRAME>-->

  <IFRAME  ng-src="{{room|mapEmbedUrl}}" class="fatframing" > If you can see this, your browser doesn't understand IFRAMES.  </IFRAME>


</ui-view>
